{% extends "::base.html.twig" %}

{% block fos_user_content %}

<br>
<span>
    <img src="/images/prisonwhite.png">
</span>
<br>

{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}