<div id="loader" style="display:none; margin:auto;"><img src="images/ajax-loader.gif"></div>
<div id="questions">
    {% for question in questions %}
        {% if loop. index == 1 %}
            <div class="col-md-6">
        {% endif %}
            <div class="well">
                <button type="button" class="btn btn-{{color[loop.index-1]}}" aria-expanded="false" style="width:100%; cursor: wait;">
                {{question.field}}</button>
            </div>
        {% if loop.index == 2 %}
            </div>
            <div class="col-md-6">
        {% endif %}
        {% if loop.index == 4 %}
            </div>
        {% endif %}
    {% endfor %}

    <div class="col-md-12">
        <div class="well">
            <a href="#" class="check"><button type="button" class="btn btn-primary" aria-expanded="false" style="width:100%"">Comprobar</button></a>
        </div>
    </div>

</div>
